<div id="card-holder" [routerLink]="['/product',this.product.id]" >
  <mat-card class="example-card" appearance="outlined">
    <img mat-card-image src="{{this.product.imgUrl}}" alt="">
    <mat-card-header id="card-header">
      <mat-card-title>{{ this.product.name }}</mat-card-title>
      <mat-card-subtitle>Còn {{ this.product.inStock }} sản phẩm</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{ this.product.description }}
      </p>
      <mat-card-subtitle style="font-size: 20px">{{ this.product.price }} đồng</mat-card-subtitle>
    </mat-card-content>
  </mat-card>
</div>
