<div id="cart-shop">
  <div id="cart-item">
    @for (item of cartService.cart; track $index){
      <div id="cart-item-content">
        <h2 id="cart-item-name">{{ item.name }}</h2>
        <h2 id="cart-item-total">{{item.total}} đồng</h2>
        <h2 id="cart-item-quantity">{{ item.quantity }}</h2>
        <button id="cart-item-btn" (click)="cartService.removeFromCart($index)" mat-fab aria-label="Example icon button with a delete icon">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    }
  </div>
  <div id="cart-total">
    <button id="cart-btn" (click)="cartService.calculateTotal()" mat-flat-button>Tổng tiền</button>
    <h2 id="cart-price">{{cartService.totalItems }} đồng</h2>
  </div>
</div>


